root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.java]
indent_size = 4

[*.{yaml,yml,xml}]
indent_size = 2

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_final-newline = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable

