/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.appHeroBanner {
  text-align: center;
  height: 80vh;
  display: flex;
}

.sectionsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: auto;
  flex: 1;
}

.sdk {
  background-color: #E15CBF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  flex: 1;
}

.section {
  text-align: center;
  color: rgb(206, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
