/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.appHeroBanner {
  text-align: center;
  height: 80vh;
  display: flex;
  background-color: gray;
}

.section {
  text-align: center;
  display: flex;
  flex: 1;
  color: gray;
  justify-content: center;
  background: gray;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
